body{
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.navbar-inverse{
  background-color: #333;
  border-color: #111;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}	

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #111;
}

.navbar-form{
  margin-right: -25px;
}

.carousel {
  margin-top: -20px;
  margin-bottom: 30px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 250px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-control img{
	margin-top: 100px;
	width: 12.5%;
}

#portfolio{
  margin-bottom: 30px;
}

.tutor-name{
	margin-bottom: 0px;
}

.tutor-major{
	font-size: 12px;
	text-align: right;
	font-style: italic;
	color: #777;
}

.panel-body{
  border-bottom: 1px solid #428BCA;
}

.panel-body a{
  text-decoration: none;
  color: #333;
  display: block;
}

.panel-last{
  border-bottom: none;
}

hr{
  border: 1px solid #ccc;
}

.post-heading{
  font-size: 22px;
}

.post span{
  color: #777;
  font-style: italic;
}

.poster{
  font-size: 12px;
  display: block;
}

.post-timer{
  font-size: 12px;
}

.copy-right{
  position: absolute;
  right: 120px;
}

.tutor-table{
  width: 100%;
  margin: 10px 0;
}

.tutor-table td{
  border: 1px solid #000;
}

.table-header{
  font-weight: bold;
}

.tutor-table td{
  text-align: center;
}

#footer p{
  margin: 0px;
}

#footer{
  padding-bottom: 30px;
}

.home-img{
  width: 18px
}

.photo-container{
  width: 600px;
  position: relative;
}

.photo-container ul{
  list-style-type: none;
}

.link{
  width: 505px;
  height: 278px;
  position: absolute;
  border: 2px solid black;
  top: 0; left: 0;
}

#photo1{
  background: url(../img/post_img1.jpg) no-repeat;
}

#photo2{
  background: url(../img/post_img2.jpg) no-repeat;
}

#photo3{
  background: url(../img/post_img3.jpg) no-repeat;
}

.thumbnail{
  display: block;
  width: 155px; height: 87px;
  border: 2px solid black;
  position: absolute;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 0;
}
  
.top{ 
  top: 290px;
}

.left1{
  left: -2px;
}

.left2{
  left: 172px;
}

.left3{
  left: 348px;
}


#photo1 span{
  background: url(../img/post_img1.jpg) no-repeat;
  background-size: 155px 87px;
}

#photo2 span{
  background: url(../img/post_img2.jpg) no-repeat;
  background-size: 155px 87px;
}

#photo3 span{
  background: url(../img/post_img3.jpg) no-repeat;
  background-size: 155px 87px;
}

.link:hover{
  z-index: 1000;
}

.info-container{
  vertical-align: top;
  width: 210px;
  height: 381px;
  margin-left: 540px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.info-container h3{
  color: white;
  padding: 5px 5px 0px 5px;
  margin-top: 0px;
  height: 25px;
  font-size: 16px;
  background: #428BCA;
}

.info-container b, .info-container span{
  display: block;
  padding: 0px 5px;
  margin: 5px 0px;
}

.info-container span{
  padding-left: 15px;
  color: #444;
}

.post-body p{
  text-align: justify;
}

.bold{
  font-weight: bold;
}

.post-body img{
  display: block;
  margin: 10px auto;
}

.post-body span{
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  font-style: italic;
}